
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #222222;
}

td {
    padding-right: 20px;
}

#boas-vindas {
    color: #FFF;
    text-align: center;
}

#logo-tasken {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#div-principal{
    border: 1px solid white;
    width: 920px;
    margin: 20px auto;
    color: #FFF;
}

#div-principal #div-subtitulo {
    color: #FFF;
    text-align: center;
}

#div-corpo {
    margin-left: 20px;
}

.url {
    background-color: #333333;
    height: 30px;
    width: 600px;
    line-height: 30px;
    text-indent: 10px;
    color: #116bad;
}

.tr1 {
    background-color: #333333;
}

.tr2 {
    background-color: #444444;
}

.linha {
    margin-bottom: 10px;
}

.status-sucesso {
    background-color: green;
    border: 1px solid green;
    font-size: 1.3em;
}

.status-erro {
    border: 1px solid red;
    font-size: 1.3em;
    background-color: red;
}

.status-proibido {
    border: 1px solid #FFBB00;
    font-size: 1.3em;
    background-color: #FFBB00;
}

.exemplo-json {
    width: 600px;
    background-color: #444444;
    font-family: 'Courier New', Courier, monospace
}

.chave-json {
    color:#6cb24f
}

.valor-json-string {
    color: yellow;
}

.valor-json-number {
    color:#8000F0
}

.identacao-json {
    margin-left: 20px;
}